html{
    background-color: darkolivegreen;
    color: beige;
}
div{
    box-sizing: border-box;
}
#navbar{
    height: 50px;
}

#flex{
    display:flex;
    height: calc(100vh - 50px);
}
#sidebar{
    width: 30%;
}
#mainbar{
    width: 70%;
}
.container{
    border-style: dashed;
    border-color: blueviolet;
}